<h1><%= @album.name %></h1>

<ul>
<% @album.photos.each do |photo| %>
	<li> <%= link_to photo.name, album_photo_url(@album.id, photo.id) %> 
	<%= image_tag photo.picture %> </li>
<% end %>

<%= link_to "Add a new photo", new_album_photo_url(@album.id) %>
</br>
<%= link_to "All Albums", albums_url %>

